.App {
  height: 100vh;
	max-width: 100vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.App-header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(239, 71, 71);
  border-bottom: 5px solid;
}

.App-header img {
	width: 200px;
	height: 200px;
}

.App-body {
  height: 60vh;
  padding: 2rem;
  border-bottom: 5px solid rgb(239, 71, 71);
}

.App-footer {
  font-style: italic;
  text-align: center;
}
